html, body{
    margin: 0px;
    height: 0px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    background: #000000;
}

h1, h3, p, a, a:visited{
    color: #ffffff;
    text-decoration: none;
}

h1{
    font-family: "times new roman", serif;
    font-weight: 100;
    font-size: 40px;
    margin: 0px;
    padding: 10px 25px;
}

h3{
    font-family: "arial", sans-serif;
    font-size: 14px;
    text-indent: 2em;
    margin-bottom: 5px;
}

p{
    margin: 0px;
    font-family: "arial", sans-serif;
    text-indent: 2em;
    line-height: 20px;
}

.italics{
    font-style: italic;
}

.body-content{
    position: relative;
    margin-top: calc(100vh);
    z-index: 2;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.15s
}

.footer.active{
    opacity: 0;
}

.title{
    float: left;
    position: absolute;
    bottom: 10px;
}

.mobile-break{
    display: none;
}

#scroll{
    cursor: pointer;
    position: fixed;
    right: 5px;
    bottom: 15px;
    font-size: 35px;
    opacity: 1;
    z-index: 1;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

#scroll:hover{
    opacity: 0.3;
}

.video-container{
    position: relative;
    padding-top: 15px;
    padding-bottom: 56.26%;
    height: 0;
}

#video{
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100% - 120px);
    height: calc(100% - 60px);
    z-index: 3;
}

.info{
    display: flex;
    display: -webkit-flex;
    position: relative;
    padding: 25px 25px;
    padding-top: 0px;
    margin-top: -50px;
    width: calc(100vw - 50px);
    height: auto;
    background: black;
}

.descript{
    max-width: 500px;
    float: left;
    margin-right: 35px;
}

.fade{
    opacity: 1;
    transition: opacity 0.25s;
}

.fade.active{
    opacity: 0.5;
}

.citation{
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.25s;
}

.citation:hover{
    opacity: 1;
/*    text-decoration: underline;*/
}

/*
#citation-1.active, #citation-2.active, #citation-3.active, #citation-4.active{
    text-decoration: underline;
}
*/

#one, #two, #three, #four{
    display: none;
}

#one.active, #two.active, #three.active, #four.active{
    display: block;
}

.footnotes-container{
    width: 325px;
}

.footnotes{
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}

.footnotes p, .mobile-footnote p{
    font-size: 14px;
    line-height: 16px;
    text-indent: 0;
}

.mobile-footnote{
    display: none;
    margin: 15px 33px;
    margin-right: 0px;
}

#mobile-1.active, #mobile-2.active, #mobile-3.active, #mobile-4.active{
    display: none;
}

.close{
    cursor: pointer;
    opacity: 0.6;
    margin-top: 5px;
    transition: opacity 0.25s;
/*    margin-left: 1.9em;*/
}

.close:hover{
    opacity: 1;
}

.counter{
    margin-right: 1.2em;
}