html, body{
    margin: 0px;
    height: 0px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    background: #000000;
}

h1{
    font-family: "times new roman", serif;
    font-weight: 100;
    font-size: 40px;
    margin: 0px;
    padding: 10px 25px;
    color: #ffffff;
}

p{
    margin: 0px;
    font-family: "arial", sans-serif;
    color: #ffffff;
    text-indent: 2.5em;
    line-height: 20px;
}

.body-container{
    position: relative;
    margin-top: calc(100vh - 67px);
    z-index: 2;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.title{
    float: left;
    position: absolute;
    bottom: 10px;
}

#scroll{
    cursor: pointer;
    position: fixed;
    right: 5px;
    bottom: 15px;
    font-size: 35px;
    opacity: 1;
    z-index: 1;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

#scroll:hover{
    opacity: 0.3;
}

#info{
    cursor: pointer;
    float: right;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0;
    visibility: hidden;
}

#info.active{
    opacity: 1;
    visibility: visible;
}

#info:hover{
    font-style: italic;
    padding-left: 23px;
}

.info{
    display: flex;
    display: -webkit-flex;
    position: relative;
    padding: 25px 25px;
    width: calc(100vw - 50px);
    height: auto;
    background: black;
}

#descript{
    max-width: 500px;
    overflow-y: scroll;
    float: left;
    margin-right: 20px
}

.footnotes{
    font-size: 0.9em;
    float: left;
    max-width: 326px;
}

#descript::-webkit-scrollbar{
    display: block;
    width: 3px;
}

#descript::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

.italics{
    font-style: italic;
}

#video{
    position: relative;
    padding: 25px 25px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    margin-top: 100vh;
    height: 0px;
    background: transparent;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    z-index: 3;
}